

#container{
	margin:50px;
	width:650px;
	height:1000px;
	border:1px;
	background-color:white;



}

.flag{

	color:white;
	border:1px solid black;
	height:300px;
	width:600px;
	padding:10px;
	margin:0px 0px 0px 0px;
	float:left;

}
.redbox{

	background-color:red;
	border:1px solid black;
	height:300px;
	width:200px;
	padding:0px;
	margin:0px 0px 0px 0px;
	float:left;
	
}
.circle{
	border-radius:150%;
	width:200px;
	height:200px;
	background-color:red;
	
	position:relative;
	left:200px;
	top:45px;
}
.bluebox{
	background-color:blue;
	border:1px;
	height:300px;
	width:200px;
	margin:0px 0px 0px 0px;
	padding:0px;
	float:left;
	

}
.whitebox{
	background-color:white;
	border:1px;
	height:300px;
	width:200px;
	padding:0px;
	margin:0px;
	float:left;
	
}

.greenbox{

	background-color:green;
	border:1px solid black;
	height:300px;
	width:200px;
	padding:0px;
	margin:0px 0px 0px 0px;
	float:left;
}
.orangebox{
	background-color:orange;
	border:1px;
	height:300px;
	width:200px;
	margin:0px 0px 0px 0px;
	padding:0px;
	float:left;